.sign-up {
  .title {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-weight: 500;
  }

  .btns-group {
    display: flex;
    flex-direction: column;

    span {
      align-self: center;
    }
  }
}
