@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #abd8f2;
  font-family: "Poppins", sans-serif;
  color: $primary-IBL300;
}
