
// BTN - COLORS

$btn-primary: linear-gradient(180deg, #FFC398 0%, #EA8238 100%);
$btn-succces: #75fa73;


// COLORS

$primary-Modal: #FEFFFF;
$primary-IBL300: #35547A;
$primary-IBL200: #4884B2;
$primary-IBL150: #A1CCEF;
$primary-IBL50: #D5EAFE;


$primary-IBL25: #F4FAFF;

$primary-PopupHeader: linear-gradient(180deg, #ABD9FD 0%, #5591C1 100%);

$materii-Romana: #8EBF9B;
$materii-Istorie: #E7908B;
$materii-Geografie: #79AAEE;



// FONTS

$label-18pxMedium: 18px;

// SPACING

$spacing-md: 16px;
$spacing-lg: 32px;

// BORDER RADIUS

$borderRadius: 25px;


// RGB colors
$dark: rgb(29, 29, 29);
$IBL150: rgb(161, 204, 239);
$light: rgb(250, 253, 255);
$primary: rgb(72, 132, 178);
$bg: rgb(244, 244, 255);


// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}